parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
    ignoreErrors:
        - '#Undefined type.*Spatie\\Permission\\#'
        - '#Undefined type.*Spatie\\Permission\\Models\\#'
    excludePaths:
        - vendor
        - node_modules
        - storage
        - bootstrap/cache